*{
    margin: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

#contenedor{
    border-left: 50px;
    border-right: 50px;
    width: 900px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#encabezado{
    font-size: 12px;
    height: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BADA55;
    background-color: #B58A69;
    text-align: center;
}

h1{
    margin-top: 2px;
}



#menuBarra{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 50px;
}

#menuBarra li{
    margin: 2em;
    margin-left: 5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    
}

#menuBarra li:hover{
    color: red;
}

#seccion{
    background-color: #DEE5DE;
    margin-left: 20px;
    margin-right: 50px;
    
}

#mid{
    display: flex;
    flex-direction: row;
}
#articulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#texto1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 5px;
}

#texto2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
}

#imgSeccion{
    width: 340px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 1em;
    
}

#boton{
    margin-bottom: 20px;
    margin-left: 170px;
    background-color: #5E5E4A;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    width: 80px;
    text-align: center;
    height: 2em;
    border: none;
}

#aside{
    background-color: #D7D7CB;
    margin-left: 20px;
    margin-right: 50px;
}

#textoEncabezado{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#listaImagenes {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

#listaImagenes li{
    margin-left: 6em;
}

img{
    width: 150px;
    height: 190px;
    
    
}

#img1{
    width: 150px;
    height: 80px;
    margin-left: 0px;
}

#pie{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: #5E5E4A;
    color: #E8E6E6;
    margin-left: 20px;
    margin-right: 50px;
    text-align: center ;
}


@media screen and (max-width: 650px) {
    body {
      background-color: white;   
    }

    #mid{
        flex-direction: column;
    }

    #menuBarra{
        flex-direction: column;
        height: fit-content;
        margin: 10px;
        width: 80%;
    }
    #menu,
    #seccion,
    #aside,
    #pie,#mid,#encabezado {
      width: 80%;
      height: fit-content;
    }

   
}